@model IEnumerable<MVC_Shop.ViewModels.LaptopCardViewModel>;
@{
    string productImagePlaceholder = "https://st.depositphotos.com/1001069/1998/i/950/depositphotos_19988345-stock-photo-laptop-with-blank-screen.jpg";
}
<div class="text-center">
    <h1 class="display-4">Popular Products</h1>
    <hr />
    <p>PC Laptops & Netbooks</p>

    <div class="row row-cols-2 row-cols-lg-4 g-3 align-items-stretch">
        @foreach(var i in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@(i.Laptop.ImagePath ?? productImagePlaceholder)" class="card-img-top prod-image" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@i.Laptop.Model</h5>
                        <p>Price: @i.Laptop.Price$</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Laptops" asp-action="Details" asp-route-id="@i.Laptop.Id" class="btn btn-secondary">Details</a>
                        @if (!i.IsInCart)
                        {
                            <a asp-controller="Cart" asp-action="Add" asp-route-id="@i.Laptop.Id" class="btn btn-primary">Add to Cart</a>
                        }
                        else
                        {
                            <a asp-controller="Cart" asp-action="Remove" asp-route-id="@i.Laptop.Id" class="btn btn-secondary">Remove from Cart</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
