@model List<MVC_Tech_Shop.Models.Laptop>;

<h1>All Laptops</h1>
<p>@Model.Count Products found</p>

@*<ul>
    @foreach (var laptop in Model)
    {
        <li>@laptop.Model - @laptop.Price$</li>
    }
</ul>*@

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Model</th>
            <th scope="col">Display</th>
            <th scope="col">Processor</th>
            <th scope="col">Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var laptop in Model)
        {
            <tr class="align-middle">
                <th scope="row">@laptop.Id</th>
                <td>@laptop.Model</td>
                <td>@laptop.Display</td>
                <td>@laptop.Processor</td>
                <td>@laptop.Price$</td>
                <td>
                    <div class="btn-group">
                        <a asp-controller="Laptops" asp-action="Details" asp-route-id="@laptop.Id" class="btn btn-secondary">Details</a>
                        <a asp-controller="Laptops" asp-action="Edit" asp-route-id="@laptop.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Laptops" asp-action="Delete" asp-route-id="@laptop.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Laptops" asp-action="Create" class="btn btn-primary">Create New Laptop</a>